.button {
    display: flex;
    justify-content: center;
}

.button__section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second__button {
    margin-left: 10px;
    margin-right: 10px;
}